# Ignore egg and egg-info directories and files
*.egg
*.egg-info/

# Ignore Python cache files and directories
__pycache__/
*.py[cod]
build/
.vscode/
docs/build/*
docs/jupyter_execute/*
docs/.doctrees/*
docs/_static/*
docs/_sources/*